body{
    background-color: black;
}
h1{
    text-align: center;
    font-size: 48px;
    color: aliceblue;
}

p{
    font-size: 24px;
    color: aliceblue;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
